#app{
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{  
  width: 960px;
}

#header {
  border-bottom: 1px solid #979797;
  margin-bottom: 40px;
  padding-bottom: 20px;
  overflow: hidden;
}

#main{
  overflow: hidden;
  margin-bottom: 40px;
}

#navigator{
  float: left;
  width: 300px;
  
}

#menu-comida{
  width: 610px;
  float: right;
  border-left: 1px solid #979797;
  padding-left: 32px;
}

.img-menu{
  float: right;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

#menu-comida ul{
  padding-left: 15px;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
}

a{
  text-decoration: none;
  color: black;

}

h2{
  margin: 0px;
  float: left;
}

h5{
  float: right;
  margin: 0px;
  font-style: italic;
}

#footer{
  border-top: 1px solid #979797;
  background-color: #D8D8D8;
  overflow: hidden;
}

#footer img{
  float: left;
  max-width: 30%;
  margin: 12px;
}

#footer ul{
  float: right;
  margin-right: 30px;
}

#form{
  border: 1px solid #E1A502;
  padding: 50px;
}

button {
  cursor: pointer;
  color: white;
  text-align: center;
  width: 263px;
  height: 31px;
  border-radius: 10px;
}

.send-button{
  background-color: #E1A502;
  color: white;
}

.reset-button{
  background-color: white;
  color: #E1A502;
  border-color: #E1A502;
}